* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: rgb(121, 121, 86);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px olive;
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    color: #333;
    font-size: 10px;
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    color: whitesmoke;
    transition: 0.3s;
}

.card-content .btn:hover {
    background-color: grey;
    scale: .8;
}

.back-btn {
            position: fixed;
            top: 20px;
            left: 20px;
            text-decoration: none;
            background: #f0f0f0;
            padding: 8px 14px;
            border-radius: 8px;
            font-size: 16px;
            color: #333;
            border: 1px solid #ccc;
            transition: 0.2s;
        }


.logout-btn {
    position: fixed;
    top: 20px;  
    right: 20px; 
    background: linear-gradient(135deg, #98547c, #b125a6);
    color: #fff;
    text-decoration: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.logout-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

