* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(register.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.register-box {
    background: transparent;
    backdrop-filter: blur (15px);
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.register-box h1 {
    text-align: center;
    margin-bottom: 20px;
}

.register-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 5px;
}

.register-box button {
    width: 100%;
    padding: 12px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.register-box button:hover {
    background: #444;
}

.register-box p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-box a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
